/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

body{
    height: 100vh;
    background-color: #000;
}

/* regole generali */
#app{
    background-color: #000;
}

.lighter{
    font-weight: lighter;
    color: #d3d3d3;
}

/* regole header */
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.9);
}

header>select{
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
}

header select option{
    background: #000;
}

header>h2{
    color: #ae1000;
}

/* regole container destro */
#container-button-right{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-button-right>img{
    width: 40px;
    border-radius: 100%;
}

#container-button-right>i{
    color: #fff;
    margin: 0 20px;
    cursor: pointer;
}

#container-button-right>.fas.fa-sort-down{
    position: relative;
}

#user-block-dropdown{
    position: absolute;
    top: 35px;
    right: 0;
    list-style: none;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    display: none;
    border-radius: 8px;
}

#user-block-dropdown.active{
    display: block;
}

.user-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 15px;
}

.user-list>img{
    width: 40px;
    border-radius: 100%;
    margin-right: 10px;
}

#container-search{
    display: none;
}

#container-search.active{
    display: block;
}

.content-search{
    width: 400px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-search>i{
    color: #000;
    cursor: pointer;
}

.content-search>input{
    width: 85%;
    padding: 12px;
    border: none;
    outline: none;
}

/* regole main */
main{
    padding: 100px 30px 0 30px;
}
/* regole pagina user */
#profiles{
    height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#profiles>img{
    position: absolute;
    top: 10px;
    left: 15px;
}

#profiles>h1{
    color: #fff;
    margin-bottom: 140px;
}

#profiles>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#profiles li{
    margin-right: 100px;
}

#profiles li>img{
    height: 200px;
    border-radius: 100%;
    cursor: pointer;
}

#profiles li>h4{
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}
/* regole sezione film */
.container-film-serietv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-film-serietv>li{
    height: 515px;
    flex-basis: calc(100% / 5 - 20px);
    margin-top: 50px;
    margin-right: 20px;
    list-style: none;
}

.container-film-serietv>li.none{
    display: none;
}

.container-info-film-serie{
    position: relative;
    height: 100%;
}

.container-info-film-serie>img{
    border: 1px solid #fff;
    height: 515px;
    width: 352px;
    border-radius: 10px;
}

/* regole div a comparsa su hover */
.info-hidden{
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    border: 1px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px 10px 0 10px;
    border-radius: 10px;
}

.container-film-serietv>li:hover .info-hidden{
    display: block;
}

.info-hidden>div{
    margin-bottom: 20px;
}

.flag{
    display: flex;
    align-items: center;
}

.flag>img{
    width: 20px;
    margin-left: 15px;
}

.vote{
    display: flex;
    align-items: center;
}

.vote>h3{
    margin-right: 15px;
}

.vote>.fas.fa-star{
    color: #fec500;
}

.description{
    max-height: 120px;
    overflow-y: auto;
}

.container-info-film-serie .fas.fa-chevron-circle-down{
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.container-info-film-serie .fas.fa-chevron-circle-down>span{
    font-size: 15px;
    margin-left: 15px;
}

.container-list-info{
    max-height: 160px;
    overflow-y: auto;
}

.actor-list, .genre-list{
    list-style: none;
}

.titleActorGenre{
    color: #fff;
    display: none;
}

.info-name-genre{
    color: #d3d3d3;
}

.titleActorGenre.active{
    display: block;
}

.info-name-genre.none{
    display: none;
}

