/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #000;
}

/* regole generali */
#app{
    background-color: #000;
}

.lighter{
    font-weight: lighter;
}

/* regole header */
header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

header>h2{
    color: #ae1000;
}

.content-search{
    width: 16%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-search>i{
    color: #000;
    cursor: pointer;
}

.content-search>input{
    width: 85%;
    padding: 12px;
    border: none;
    outline: none;
}

/* regole main */
main{
    padding: 0 30px;
}
/* regole pagina user */
#profiles{
    height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#profiles>img{
    position: absolute;
    top: 10px;
    left: 15px;
}

#profiles>h1{
    color: #fff;
    margin-bottom: 140px;
}

#profiles>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#profiles li{
    margin-right: 100px;
}

#profiles li>img{
    height: 200px;
    border-radius: 100%;
    cursor: pointer;
}

#profiles li>h4{
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}
/* regole sezione film */
.container-film-serietv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container-film-serietv>li{
    height: 515px;
    flex-basis: calc(100% / 5 - 20px);
    margin-top: 50px;
    margin-right: 20px;
    list-style: none;
}

.container-info-film-serie{
    position: relative;
    height: 100%;
}

.container-info-film-serie>img{
    border: 1px solid #fff;
    height: 515px;
    width: 352px;
}

/* regole div a comparsa su hover */
.info-hidden{
    display: none;
    height: 100%;
    width: 100%;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 50px 10px 0 10px;
}

.container-film-serietv>li:hover .info-hidden{
    display: block;
}

.info-hidden>div{
    margin-bottom: 20px;
}

.info-hidden strong{
    padding-right: 6px;
}

.flag>img{
    width: 20px;
}

.vote{
    display: flex;
}

.vote>.fas.fa-star{
    color: #fec500;
}

.description{
    max-height: 120px;
    overflow-y: auto;
}

.container-info-film-serie .fas.fa-chevron-circle-down{
    color: #fff;
    cursor: pointer;
    font-size: 30px;
}

.container-list-info{
    max-height: 160px;
    overflow-y: auto;
}

.actor-list, .genre-list{
    list-style: none;
}

.titleActorGenre{
    color: #fff;
    display: none;
}

.info-name-genre{
    color: #fff;
}

.titleActorGenre.active{
    display: block;
}

.info-name-genre.none{
    display: none;
}

