<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="img/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link font awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
    <!-- link vueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- axio vuejs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <!-- link my js -->
    <script src="js/main.js"></script>
    <!-- link my css -->
    <link rel="stylesheet" href="css/master.css">
    <title>BoolFlix</title>
</head>
<body>
    <!-- container totale -->
    <div id="app">
        <!-- container prima pagina che scompare al click user -->
        <div id="profiles" v-if="(profile == false)">
            <img src="img/logo.png" alt="">
            <h1>
                Chi vuole guardare Netflix?
            </h1>
            <ul>
                <li v-for="user in users" @click="userOn(user)">
                    <img :src="user.img" alt="">
                    <h4>{{user.userName}}</h4>
                </li>
            </ul>
        </div>
        <!-- container pagina dopo click user -->
        <div v-else>
            <header>
                <img src="img/logo.png" alt="" @click="test">
                <select name="changeGenre" v-model="selectGenre">
                    <option selected value>All</option>
                    <option v-for="elem in filteredGenre" :value="elem.id"> {{elem.name}} </option>
                </select>
                <div id="container-button-right">
                    <i class="fas fa-search"  @click="showSearchbar"></i>
                    <div id="container-search" :class="(contentSearch == true) ? 'active' : '' ">
                        <div class="content-search">
                            <input type="text" placeholder="Cerca un film..." v-model="searchBar" @keyup.enter="clickSearchBar">
                            <i class="fas fa-times" @click="backHome"></i>
                        </div>
                    </div>
                    <i class="fas fa-bell"></i>
                    <img :src="activeUser.img" alt="">
                    <i class="fas fa-sort-down" @click="showDropdown">
                        <ul id="user-block-dropdown" :class="(dropDown == true) ? 'active' : ''" @mouseleave="showDropdown">
                            <li class="user-list" v-for="user in users" @click="changeUser(user)">
                                <img :src="user.img" alt="">
                                <span>
                                    {{user.userName}}
                                </span>
                            </li>
                        </ul>
                    </i>
                </div>
            </header>
            <main>
                <ul class="container-film-serietv">
                    <!-- lista film -->
                    <li v-for="film in filteredFilm" v-if="(!film.poster_path == '')" @mouseleave="cleanUp">
                        <div class="container-info-film-serie">
                            <img :src="'https://image.tmdb.org/t/p/w342' + film.poster_path" alt="">
                            <div class="info-hidden">
                                <div class="title" v-if="(film.name === film.original_name)">
                                    <strong>
                                        Title:
                                    </strong>
                                    <span class="lighter">
                                        {{film.title}}
                                    </span>
                                </div>
                                <div class="title" v-else>
                                    <div>
                                        <strong>
                                            Title:
                                        </strong>
                                        <span class="lighter">
                                            {{film.title}}
                                        </span>
                                    </div>
                                    <div>
                                        <strong>
                                            Original Title:
                                        </strong>
                                        <span class="lighter">
                                            {{film.original_title}}
                                        </span>
                                    </div>
                                </div>
                                <div class="flag">
                                    <strong>Language:</strong>
                                    <img :src="'img/flag-' + film.original_language + '.png'" alt="">
                                </div>
                                <div class="vote">
                                    <strong>
                                        Vote:
                                    </strong>
                                    <!-- assegno le stelle in base al voto -->
                                    <i class="fas fa-star" v-for="elem in vote(film.vote_average)"></i>
                                    <i class="far fa-star" v-for="elem in (5 - vote(film.vote_average))"></i>
                                </div>
                                <div class="description">
                                    <strong>
                                        Overview:
                                    </strong>
                                    <span class="lighter">
                                        {{film.overview}}
                                    </span>
                                </div>
                                <i class="fas fa-chevron-circle-down" @click="castVisible(film.id)">
                                    <span>
                                        More Informations
                                    </span>
                                </i>
                                <div class="container-list-info">
                                    <ul class="actor-list">
                                        <li class="titleActorGenre" :class="(displayAct == true) ? 'active' : ''">
                                            <h2>
                                                Actors:
                                            </h2>
                                        </li>
                                        <li v-for="actor in actorName" class="info-name-genre" :class="(displayAct == false) ? 'none' : ''">
                                            {{actor.name}}
                                        </li>
                                    </ul>
                                    <ul class="genre-list">
                                        <li class="titleActorGenre" :class="(displayAct == true) ? 'active' : ''">
                                            <h2>
                                                Genres:
                                            </h2>
                                        </li>
                                        <li v-for="genre in genresName" class="info-name-genre" :class="(displayAct == false) ? 'none' : ''">
                                            {{genre.name}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- lista serie tv -->
                    <li v-for="tvserie in filteredSerieTv" v-if="(!tvserie.poster_path == '')" @mouseleave="cleanUp">
                        <div class="container-info-film-serie">
                            <img :src="'https://image.tmdb.org/t/p/w342' + tvserie.poster_path" alt="">
                            <div class="info-hidden">
                                <div class="title" v-if="(tvserie.name === tvserie.original_name)">
                                    <strong>
                                        Title:
                                    </strong>
                                    <span class="lighter">
                                        {{tvserie.name}}
                                    </span>
                                </div>
                                <div class="title" v-else>
                                    <div>
                                        <strong>
                                            Title:
                                        </strong>
                                        <span class="lighter">
                                            {{tvserie.name}}
                                        </span>
                                    </div>
                                    <div>
                                        <strong>
                                            Original Title:
                                        </strong>
                                        <span class="lighter">
                                            {{tvserie.original_name}}
                                        </span>
                                    </div>
                                </div>
                                <div class="flag">
                                    <strong>Language:</strong>
                                    <img :src="'img/flag-' + tvserie.original_language + '.png'" alt="">
                                </div>
                                <div class="vote">
                                    <strong>
                                        Vote:
                                    </strong>
                                    <i class="fas fa-star" v-for="elem in vote(tvserie.vote_average)"></i>
                                    <i class="far fa-star" v-for="elem in (5 - vote(tvserie.vote_average))"></i>
                                </div>
                                <div class="description">
                                    <strong>
                                        Overview:
                                    </strong>
                                    <span class="lighter">
                                        {{tvserie.overview}}
                                    </span>
                                </div>
                                <i class="fas fa-chevron-circle-down" @click="castVisible(tvserie.id)">
                                    <span>
                                        More Informations
                                    </span>
                                </i>
                                <div class="container-list-info">
                                    <ul class="actor-list">
                                        <li class="titleActorGenre" :class="(displayAct == true) ? 'active' : ''">
                                            <h2>
                                                Actors:
                                            </h2>
                                        </li>
                                        <li v-for="actor in actorName" class="info-name-genre" :class="(displayAct == false) ? 'none' : ''">
                                            {{actor.name}}
                                        </li>
                                    </ul>
                                    <ul class="genre-list">
                                        <li class="titleActorGenre" :class="(displayAct == true) ? 'active' : ''">
                                            <h2>
                                                Genres:
                                            </h2>
                                        </li>
                                        <li v-for="genre in genresName" class="info-name-genre" :class="(displayAct == false) ? 'none' : ''">
                                            {{genre.name}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </main>
        </div>
    </div>
</body>
</html>