<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link font awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
    <!-- link vueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- axio vuejs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <!-- link my js -->
    <script src="js/main.js"></script>
    <!-- link my css -->
    <link rel="stylesheet" href="css/master.css">
    <title>BoolFix</title>
</head>
<body>
    <div id="app">
        <header>
            <input type="text" placeholder="Cerca un film..." v-model="searchBar" @keyup.enter="clickSearchBar">
        </header>
        <main>
            <div>
                <ul>
                    <li v-for="film in films">
                        <img :src="'https://image.tmdb.org/t/p/w342' + film.poster_path" alt="">
                        <div>
                            {{film.title}}
                            {{film.original_title}}
                        </div>
                        <div class="flag" v-html="flag(film.original_language)">
                        </div>
                        <div v-html="vote(film.vote_average)">
                        </div>
                    </li>
                    <li v-for="tvserie in tvSeries">
                        {{tvserie.title}}
                        {{tvserie.original_title}}
                    </li>
                    <li v-for="tvserie in tvSeries">
                        <img :src="'https://image.tmdb.org/t/p/w342' + tvserie.poster_path" alt="">
                        <div>
                            {{tvserie.name}}
                            {{tvserie.original_name}}
                        </div>
                        <div class="flag" v-html="flag(tvserie.original_language)">
                        </div>
                        <div v-html="vote(tvserie.vote_average)">
                        </div>
                    </li>
                </ul>
            </div>
        </main>
    </div>
    
</body>
</html>