<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link font awsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
    <!-- link vueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- axio vuejs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <!-- link my js -->
    <script src="js/main.js"></script>
    <!-- link my css -->
    <link rel="stylesheet" href="css/master.css">
    <title>BoolFix</title>
</head>
<body>
    <div id="app">
        <header>
            <h2>
                BOOLFLIX
            </h2>
            <input type="text" placeholder="Cerca un film..." v-model="searchBar" @keyup.enter="clickSearchBar">
        </header>
        <main>
            <div>
                <ul class="container-film-serietv">
                    <li v-for="film in films" v-if="(!film.poster_path == '')">
                        <div class="container-info-film-serie">
                            <img :src="'https://image.tmdb.org/t/p/w342' + film.poster_path" alt="">
                            <div class="info-hidden">
                                <div class="title" v-if="(film.name === film.original_name)">
                                    <div>
                                        <strong>
                                            Title:
                                        </strong>
                                        <span class="lighter">
                                            {{film.title}}
                                        </span>
                                    </div>
                                </div>
                                <div class="title" v-else>
                                    <div>
                                        <strong>
                                            Title:
                                        </strong>
                                        <span class="lighter">
                                            {{film.title}}
                                        </span>
                                    </div>
                                    <div>
                                        <strong>
                                            Original Title:
                                        </strong>
                                        <span class="lighter">
                                            {{film.original_title}}
                                        </span>
                                    </div>
                                </div>
                                <div class="flag" v-html="flag(film.original_language)">
                                </div>
                                <div class="vote">
                                    <strong>
                                        Vote:
                                    </strong>
                                    <i class="fas fa-star" v-for="elem in vote(film.vote_average)"></i>
                                    <i class="far fa-star" v-for="elem in (5 - vote(film.vote_average))"></i>
                                </div>
                                <div class="description">
                                    <div>
                                        <strong>
                                            Overview:
                                        </strong>
                                        <span class="lighter">
                                            {{film.overview}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li v-for="tvserie in tvSeries" v-if="(!tvserie.poster_path == '')">
                        <div class="container-info-film-serie">
                            <img :src="'https://image.tmdb.org/t/p/w342' + tvserie.poster_path" alt="">
                            <div class="info-hidden">
                                <div class="title" v-if="(tvserie.name === tvserie.original_name)">
                                    <div>
                                        <strong>
                                            Title:
                                        </strong>
                                        <span class="lighter">
                                            {{tvserie.name}}
                                        </span>
                                    </div>
                                </div>
                                <div class="title" v-else>
                                    <div>
                                        <strong>
                                            Title:
                                        </strong>
                                        <span class="lighter">
                                            {{tvserie.name}}
                                        </span>
                                    </div>
                                    <div>
                                        <strong>
                                            Original Title:
                                        </strong>
                                        <span class="lighter">
                                            {{tvserie.original_name}}
                                        </span>
                                    </div>
                                </div>
                                <div class="flag" v-html="flag(tvserie.original_language)">
                                </div>
                                <div class="vote">
                                    <strong>
                                        Vote:
                                    </strong>
                                    <i class="fas fa-star" v-for="elem in vote(tvserie.vote_average)"></i>
                                    <i class="far fa-star" v-for="elem in (5 - vote(tvserie.vote_average))"></i>
                                </div>
                                <div class="description">
                                    <div>
                                        <strong>
                                            Overview:
                                        </strong>
                                        <span class="lighter">
                                            {{tvserie.overview}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
    </div>
    
</body>
</html>